<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Boats</h1>
	<div class="pagination"></div>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Name" name="searchName">
				</th>
				<th>
					Hull Id
				</th>
				<th>
					<input type="text" class="searchFilter form-control" name="searchBuildYearMin" placeholder="Build Year-min">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" name="searchBuildYearMax" placeholder="Build Year-max">
				</th>
				<th>
					<select class="searchFilter form-control" name="searchBoatLength">
						<option value="" selected>Length</option>
						<option value="searchbelow15" >below 15 feet</option>
						<option value="searchbetween15to30" >between 15-30 feet</option>
						<option value="searchbetween30to45" >between 30-45 feet</option>
						<option value="searchabove45" >above 45 feet</option>
					</select>
				</th>
				<th>
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Status</option>
						<option value="creation">Creation</option> 
						<option value="editing">Editing</option>
						<option value="complete">Complete</option>
						<option value="approved">Approved</option>
						<option value="denied">Denied</option>
					</select>
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Type" name="searchType">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Host" name="searchHost">
				</th>
				<th>Profile</th>
				<th></th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
	<div class="pagination"></div>
</div>