<tr>
	<td><%= id %></td>
	<td><%= availableSeats %></td>
	<td><%= date %></td>
	<td><%= departureTime %></td>
	<td><%= name %></td>
	<td><%= category %></td>
	<td><%= price %></td>
	<td><%= status %></td>
	<td><a href='#/host/<%= hostId %>'class='btn btn-primary'>Host</a></td>
	<td><a href='#/boat/<%= boatId %>'class='btn btn-primary'>Boat</a></td>
	<td><a href='#/profile/<%= captainId %>'class='btn btn-primary'>Captain</a></td>
	<td><a href="#/boatday/<%= id %>">edit</td>
	<td><a href="#">cancel</td>
</tr>