<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Past BoatDays</h1>
	<div class="pagination"></div>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Name" name="searchName">
				</th>
				<th>
					<select name="searchCategory" class="searchFilter form-control">
						<option value="">Category</option>
						<option value="leisure">Leisure</option>
						<option value="sailing">Sailing</option>
						<option value="fishing">Fishing</option>
						<option value="sports">Water Sports</option>
					</select>
				</th>
				<th>Date</th>
				<th>
					<input type="text" class="searchFilter form-control" name="searchPriceMin" placeholder="Price min">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" name="searchPriceMax" placeholder="Price max">
				</th>
				<th>
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Status</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
						<option value="cancelled">Cancelled</option>
					</select>
				</th>
				<th>Seats</th>
				<th>Booked</th>
				<th>Host</th>
				<th>Boat</th>
				<th>Captain</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
	<div class="pagination"></div>
</div>