<!-- <div class="top-nav"></div>

<div class="container">
	<h1>BoatDays Lists</h1>
	<a href="#/dashboard" class="btn btn-primary">Dashboard</a>
	<div class="col-sm-12">
		<table class="table table-condensed" style="width:100%">
  			<thead>
				<tr>
					<th>ObjectId</th>
					<th>availableSeats</th>
					<th>date</th>
					<th>departureTime</th>
					<th>BoatDay name</th>
					<th>Price</th>
					<th>status</th>
					<th>Host</th>
					<th>Boat</th>
					<th>Captain</th>
					<th>Update</th>
				</tr>
				<tr>
					<td><input type="text" class="searchFilter" name="searchobjectId" id="searchobjectId"></td>
					<td><input type="text" class="searchFilter" name="searchavailableSeats" id="searchavailableSeats"></td>
					<td></td>
					<td><input type="text" class="searchFilter" name="searchDepartureTime" id="searchDepartureTime"></td>
					<td><input type="text" class="searchFilter" name="searchName" id="searchName"></td>
					<td><input type="text" class="searchFilter" name="searchPrice" id="searchPrice"></td>
					<td><input type="text" class="searchFilter" name="searchStatus" id="searchStatus"></td>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr>

					<td id="captain"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

 -->
 <div class="top-nav"></div>

<div class="container-fluid">
	<h1>Boatdays lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId"></td>
				</th>
				<th>
					availableSeats
					<input type="text" class="searchFilter form-control" name="searchavailableSeats">
				</th>
				<th>date</th>
				<th>
					departureTime
					<input type="text" class="searchFilter form-control" name="searchDepartureTime">
				</th>
				<th>
					BoatDay name
					<input type="text" class="searchFilter form-control" name="searchName">
				</th>
				<th>
					Price
					<input type="text" class="searchFilter form-control" name="searchPrice">
				</th>
				<th>
					status
					<input type="text" class="searchFilter form-control" name="searchStatus">
				</th>
				<th>Host</th>
				<th>Boat</th>
				<th>Captain</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>