<tr data-id="<%= file.id %>">
	<td>
		<div class="profile-picture rectangle" style="background-image:url(<%= file.get('file').url() %>)"></div>
	</td>
	<td>
		<input type="text" class="form-control" name="order" value="<%= file.get('order') %>" />
	</td>
	<td>
		<%= new Date(file.createdAt).toLocaleDateString() %> at
		<%= new Date(file.createdAt).toLocaleTimeString() %> 
	</td>
	<td class="text-center">
		<!-- <a href="#" class="btn btn-default picture-update">Update</a> -->
		<button type="button" class="btn btn-default update-picture">Update</button>
		<button type="button" class="btn btn-danger delete-picture">Delete</button>
	</td>
</tr>