<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Boat lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId">
				</th>
				<th>
					Name
					<input type="text" class="searchFilter form-control" name="searchName">
				</th>
				<th>
					Hull Id
				</th>
				<th>
					Build
					<input type="text" class="searchFilter form-control" name="searchBuildYearMin" placeholder="min">
					<input type="text" class="searchFilter form-control" name="searchBuildYearMax" placeholder="max">
				</th>
				<th>
					Length
					<input type="text" class="searchFilter form-control" name="searchbelow15" placeholder="below 15 feet">
					<input type="text" class="searchFilter form-control" name="searchbetween15-30" placeholder="between 15-30 feet">
					<input type="text" class="searchFilter form-control" name="searchbetween30-45" placeholder="between 30-45 feet">
					<input type="text" class="searchFilter form-control" name="searchabove45" placeholder="above 45 feet">
				</th>
				<th>
					Status
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="editing">Editing</option>
						<option value="complete">Complete</option>
						<option value="accepted">Accepted</option>
						<option value="denied">Denied</option>
					</select>
				</th>
				<th>
					Boat type
					<input type="text" class="searchFilter form-control" name="searchType">
				</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>