<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Upcoming BoatDays</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="id" name="searchobjectId"></td>
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="name" name="searchName">
				</th>
				<th>
					Category
				</th>
				<th>Date</th>
				<th>
					Price
					<input type="text" class="searchFilter form-control" name="searchPriceMin" placeholder="min">
					
				</th>
				<th>
					<input type="text" class="searchFilter form-control" name="searchPriceMax" placeholder="max">
				</th>
				<th>
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Status</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
						<option value="cancelled">Cancelled</option>
					</select>
				</th>
				<th>Total seats</th>
				<th>Booked seats</th>
				<th>Host</th>
				<th>Boat</th>
				<th>Captain</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>