<div class="top-navigation"></div>
<form class="form-horizontal"> 
	<div class="container"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Update BoatDay</h3>
			</div>

			<div class="panel-body">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="boatdayId" class="col-sm-3 control-label">BoatDay id</label>
						<div class="col-sm-6">
							<%= objectId%>
						</div>
					</div>
					<div class="form-group">
						<label for="createdAt" class="col-sm-3 control-label">Created at</label>
						<div class="col-sm-6">
							<%= createdAt %>
						</div>
					</div>
					<div class="form-group">
						<label for="updatedAt" class="col-sm-3 control-label">Updated at</label>
						<div class="col-sm-6">
							<%= updatedAt%>
						</div>
					</div>
					<div class="form-group">
						<label for="availableSeats" class="col-sm-3 control-label">Available seats</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="availableSeats" name="availableSeats" value="<%= availableSeats %>"> 
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="col-sm-3 control-label">Date</label>
						<div class="col-sm-6">
							<input type="text" class="form-control date" placeholder="mm/dd/yyyy" value="<%= date.iso %>" name="date" />
						</div>
					</div>
					<div class="form-group">
						<label for="departureTime" class="col-sm-3 control-label">Departure time</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="departureTime" name="departureTime" value="<%= departureTime %>">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-3 control-label">Description</label>
						<div class="col-sm-6">
							<textarea rows="5" name="description" id="description" class="form-control"><%= description %></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="duration" class="col-sm-3 control-label">Duration</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="duration" name="duration" value="<%= duration %>">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" name="name" value="<%= name %>">
						</div>
					</div>
					<div class="form-group">
						<label for="price" class="col-sm-3 control-label">Price</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="price" name="price" value="<%= price %>">
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label">Status</label>
						<div class="col-sm-6">
							<select class="input-small form-control" id="status" name="status">
								<option value="creation" <%= status && status == "creation" ? 'selected' : '' %>>Creation</option> 
								<option value="complete" <%= status && status == "complete" ? 'selected' : '' %>>Complete</option>
								<option value="cancel" <%= status && status == "cancel" ? 'selected' : '' %>>Cancel</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Departure location 
							</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="locationText" name="locationText" value="<%= locationText %>">
						</div>
					</div>
					<div class="form-group">
						<label for="bookingPolicy" class="col-sm-3 control-label">Booking policy</label>
						<div class="col-sm-6">
							<select class="input-small form-control" name="bookingPolicy">
								<option value="manually" <%= bookingPolicy && bookingPolicy == "manually" ? 'selected' : '' %>>Manual Book</option> 
								<option value="automatically" <%= bookingPolicy && bookingPolicy == "automatically" ? 'selected' : '' %>>Instant Book</option>
								<option value="halfway" <%= bookingPolicy && bookingPolicy == "halfway" ? 'selected' : '' %>>Trusted Book</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="cancellationPolicy" class="col-sm-3 control-label">Cancellation policy</label>
						<div class="col-sm-6">
							<select class="input-small form-control" name="cancellationPolicy">
								<option value="flexible" <%= cancellationPolicy && cancellationPolicy == "flexible" ? 'selected' : '' %>>Flexible</option> 
								<option value="moderate" <%= cancellationPolicy && cancellationPolicy == "moderate" ? 'selected' : '' %>>Moderate</option>
								<option value="strict" <%= cancellationPolicy && cancellationPolicy == "strict" ? 'selected' : '' %>>Strict</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-heading">
				<h3 class="panel-title text-center">Details</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="activity" class="col-sm-3 control-label">Activity</label>
					<div class="col-sm-6">
						<select class="input-small form-control" id="activity" name="activity">
							<option value="leisure" <%= category && category == 'leisure' ? 'selected' : '' %>>Leisure</option> 
							<option value="fishing" <%= category && category == 'fishing' ? 'selected' : '' %>>Fishing</option>
							<option value="sailing" <%= category && category == 'sailing' ? 'selected' : '' %>>Sailing</option>
							<option value="sports" <%= category && category == 'sports' ? 'selected' : '' %>>Water Sports</option>
						</select>
					</div>
				</div>
				<div class="form-group checkboxes">
					<div class="col-sm-12 activityContainer leisure">
						<label class="col-sm-3 control-label"><strong>Category</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresLeisureCruising" <%= features.leisure.cruising ? 'checked': '' %>> Crusing
							<input type="checkbox" name="featuresLeisurePartying" <%= features.leisure.partying ? 'checked': '' %>> Partying
							<input type="checkbox" name="featuresLeisureSightseeing" <%= features.leisure.sightseeing ? 'checked': '' %>> Sightseeing
							<input type="checkbox" name="featuresLeisureOther" <%= features.leisure.other ? 'checked': '' %>> Other
						</div>
					</div>
					<div class="col-sm-12 activityContainer fishing">
						<label class="col-sm-3 control-label"><strong>Category</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresFishingOffshore" <%= features.fishing.offshore ? 'checked': '' %>> Offshore Fishing
							<input type="checkbox" name="featuresFishingFlats" <%= features.fishing.flats ? 'checked': '' %>> Flats Fishing
							<input type="checkbox" name="featuresFishingLake" <%= features.fishing.lake ? 'checked': '' %>> Lake Fishing
							<input type="checkbox" name="featuresFishingRecreational" <%= features.fishing.recreational ? 'checked': '' %>> Recreational Fishing
							<input type="checkbox" name="featuresFishingOther" <%= features.fishing.other ? 'checked': '' %>> Other
						</div>	
					</div>
					<div class="col-sm-12 activityContainer fishing">
						<label class="col-sm-3 control-label"><strong>Equipment</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresFishingEquipment" <%= features.fishing.equipment ? 'checked': '' %>> Equipment Provided
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-3 control-label"><strong>Fishing equipments</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresFishingEquipmentItemsBait" <%= features.fishing.equipmentItems.bait ? 'checked': '' %>> Bait
							<input type="checkbox" name="featuresFishingEquipmentItemsLines" <%= features.fishing.equipmentItems.lines ? 'checked': '' %>> Fishing Line
							
							<input type="checkbox" name="featuresFishingEquipmentItemsHooks" <%= features.fishing.equipmentItems.hooks ? 'checked': '' %>> Hooks
							
							<input type="checkbox" name="featuresFishingEquipmentItemsLures" <%= features.fishing.equipmentItems.lures ? 'checked': '' %>> Lures
							
							<input type="checkbox" name="featuresFishingEquipmentItemsNets" <%= features.fishing.equipmentItems.nets ? 'checked': '' %>> Nets
							
							<input type="checkbox" name="featuresFishingEquipmentItemsRods" <%= features.fishing.equipmentItems.rods ? 'checked': '' %>> Rods
							
							<input type="checkbox" name="featuresFishingEquipmentItemsSinkers" <%= features.fishing.equipmentItems.sinkers ? 'checked': '' %>> Sinkers
						</div>
					</div>
					<div class="col-sm-12 activityContainer sports">
						<label class="col-sm-3 control-label"><strong>Category</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresSportsSnorkeling" <%= features.sports.snorkeling ? 'checked': '' %>> Snorkeling
							<input type="checkbox" name="featuresSportStubing" <%= features.sports.tubing ? 'checked': '' %>> Tubing
							<input type="checkbox" name="featuresSportsWakeBoarding" <%= features.sports.wakeBoarding ? 'checked': '' %>> Wake Boarding
							<input type="checkbox" name="featuresSportsWaterSkiing" <%= features.sports.waterSkiing ? 'checked': '' %>> Water Skiing 
						</div>
					</div>
					<div class="col-sm-12 activityContainer sports">
						<label class="col-sm-3 control-label"><strong>Equipment</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresSportsEquipment" <%= features.sports.equipment ? 'checked': '' %>> Equipment Provided
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-3 control-label"><strong>Sport equipments</strong></label>
						<div class="col-sm-7">
							<input type="checkbox" name="featuresSportsEquipmentItemsFins" <%= features.sports.equipmentItems.fins ? 'checked': '' %>> Fins
							<input type="checkbox" name="featuresSportsEquipmentItemsHelmets" <%= features.sports.equipmentItems.helmets ? 'checked': '' %>> Helmets
							<input type="checkbox" name="featuresSportsEquipmentItemsMasks" <%= features.sports.equipmentItems.masks ? 'checked': '' %>> Masks
							<input type="checkbox" name="featuresSportsEquipmentItemsSnorkels" <%= features.sports.equipmentItems.snorkels ? 'checked': '' %>> Snorkels
							<input type="checkbox" name="featuresSportsEquipmentItemsTowLine" <%= features.sports.equipmentItems.towLine ? 'checked': '' %>> Tow Line
							<input type="checkbox" name="featuresSportsEquipmentItemsTubes" <%= features.sports.equipmentItems.tubes ? 'checked': '' %>> Tubes
							<input type="checkbox" name="featuresSportsEquipmentItemsWakeboard" <%= features.sports.equipmentItems.wakeboard ? 'checked': '' %>> Wakeboard
							<input type="checkbox" name="featuresSportsEquipmentItemsWaterSkis" <%= features.sports.equipmentItems.waterSkis ? 'checked': '' %>> Water Skis
						</div>
					</div>		
					<div class="col-sm-12">
						<label class="col-sm-3 control-label"><strong>Family Settings</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresGlobalChildren" <%= features.global.children ? 'checked': '' %>> Children allowed 
							<input type="checkbox" name="featuresGlobalSmoking" <%= features.global.smoking ? 'checked': '' %>> Smoking Permitted
							<input type="checkbox" name="featuresGlobalDrinking" <%= features.global.drinking ? 'checked': '' %>> Drinking Permitted 
							<input type="checkbox" name="featuresGlobalPets" <%= features.global.pets ? 'checked': '' %>> Pets Permitted 
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-3 control-label"><strong>Extras</strong></label>
						<div class="col-sm-6">
							<input type="checkbox" name="featuresExtrasFood" <%= features.extras.food ? 'checked': '' %>> Food
							<input type="checkbox" name="featuresExtrasDrink" <%= features.extras.drink ? 'checked': '' %>> Drink
							<input type="checkbox" name="featuresExtrasMusic" <%= features.extras.music ? 'checked': '' %>> Music
							<input type="checkbox" name="featuresExtrasTowels" <%= features.extras.towels ? 'checked': '' %>> Towels
							<input type="checkbox" name="featuresExtrasSunscreen" <%= features.extras.sunscreen ? 'checked': '' %>> Sunscreen
							<input type="checkbox" name="featuresExtrasInflatables" <%= features.extras.inflatables ? 'checked': '' %>> Inflatables 
						</div>
					</div>
				</div>
			</div>

			<div class="panel-heading">
				<h3 class="panel-title text-center">Departure Location</h3>
			</div>

			<div class="panel-body">
				<div>
					<input type="text" class="form-control" id="locationText" name="locationText" value="<%= locationText %>">
				</div>
				<div class="embed-responsive embed-responsive-16by9 map" style="margin-top: 10px"></div>
			</div>
			

			<div class="panel-footer text-center">
				<button type="submit" class="btn btn-default">Update</button>
			</div>
		</div>
	</div>
</form>