<form class="form-horizontal" >
	<div class="container"> 
		<h1>Boat Pictures</h1>
		<a href="#/dashboard" class="btn btn-primary">Dashboard</a>
		<!-- <div class="col-xs-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
			<div class="row">
				<div class="col-sm-6">
				  <ul class="list-group" id="boatPics"></ul>
				</div>
				<div class="col-sm-6">
				  <ul class="list-group" id="insurance"></ul>
				</div>
		  	</div>
		</div> -->
		<div class="row">
			<div class="col-xs-6 col-md-20 col-lg-16 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Boat Photo(s)</h3>
					</div>
					<div class="panel-body">
						<!-- <div class="row boatPictures" style="line-height:auto; height:auto"></div> -->
						<ul class="list-group" id="boatPics"></ul>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Proof of insurance</h3>
					</div>
					<div class="panel-body">
						 <ul class="list-group" id="insurance"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

