<div class="top-navigation"></div>
<form class="form-horizontal"> 
	<div class="container"> 
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Boat, <%= objectId %></h3>
				</div>

				<div class="panel-body">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-6">
								<%= name %>
							</div>
						</div>
						<div class="form-group">
							<label for="buildYear" class="col-sm-3 control-label">Build Year</label>
							<div class="col-sm-6">
								<%= buildYear %>
							</div>
						</div>
						<div class="form-group">
							<label for="type" class="col-sm-3 control-label">Type</label>
							<div class="col-sm-6">
								<%= type %>
							</div>
						</div>
						<div class="form-group">
							<label for="hullID" class="col-sm-3 control-label">Hull ID</label>
							<div class="col-sm-6">
								<%= hullID %>
							</div>
						</div>	
						<div class="form-group">
							<label for="length" class="col-sm-3 control-label">length</label>
							<div class="col-sm-6">
								<%= length %> feet
							</div>
						</div>
						<div class="form-group">
							<label for="status" class="col-sm-3 control-label">Status</label>
							<div class="col-sm-6">
								<select class="input-small form-control" id="status" name="status">
									<option value="creation" <%= status && status == "creation" ? 'selected' : '' %>>Creation</option> 
									<option value="editing" <%= status && status == "editing" ? 'selected' : '' %>>Editing</option>
									<option value="complete" <%= status && status == "complete" ? 'selected' : '' %>>Pending</option>
									<option value="approved" <%= status && status == "approved" ? 'selected' : '' %>>Approved</option>
									<option value="denied" <%= status && status == "denied" ? 'selected' : '' %>>Denied</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="validationText" class="col-sm-3 control-label">Decision</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="validationText" name="validationText" rows="3"><%= validationText %></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="validationTextInternal" class="col-sm-3 control-label">Internal</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="validationTextInternal" name="validationTextInternal" rows="5"><%= validationTextInternal %></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="validationTextInternal" class="col-sm-3 control-label">Other actions</label>
							<div class="col-sm-6">
								<a href="#/host/<%= host.objectId %>" class="btn btn-default">Host</a>
								<button type="button" class="btn btn-warning notify-host">Notify User</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title text-center">Boat Pictures</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>Picture</th>
							<th>Order</th>
							<th>Creation</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="boatPictures"></tbody>
					<tfoot>
						<th colspan="4">
							<input type="file" class="upload" name="boat-picture" />
						</th>
					</tfoot>
				</table>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title text-center">Proof of insurance</h3>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Proof of insurance</th>
							<th>Creation</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="proofOfInsurance"></tbody>
					<tfoot>
						<th colspan="4">
							<input type="file" class="upload" />
						</th>
					</tfoot>
				</table>
				</div>

				<div class="panel-footer text-center">
					<button type="submit" class="btn btn-default">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>