<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Boatdays lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId"></td>
				</th>
				<th>
					Category
				</th>
				<th>
					BoatDay name
					<input type="text" class="searchFilter form-control" name="searchName">
				</th>
				<th>Date</th>
				<th>
					Price
					<input type="text" class="searchFilter form-control" name="searchPriceMin" placeholder="min">
					<input type="text" class="searchFilter form-control" name="searchPriceMax" placeholder="max">
				</th>
				<th>
					Status
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="editing">Editing</option>
						<option value="complete">Complete</option>
					</select>
				</th>
				<!-- <th>
					Suspend boatday
				</th> -->
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>