<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Coupons</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Name" name="searchName">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Code" name="searchCode">
				</th>
				<th>
					Discount
				</th>
				<th>
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Status</option>
						<option value="approved">Approved</option>
						<option value="denied">Denied</option>
					</select>
				</th>
				<th>
					<select class="searchFilter form-control" name="searchPerSeat">
						<option value ="" selected>Per seat</option>
						<option value="true" >True</option>
						<option value="false" >False</option>
					</select>
				</th>
				<th>
					Expiration date
				</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>