<div class="top-navigation"></div>

<form class="form-horizontal" >
	<div class="container"> 
		<h1>Dashboard</h1>
		
		<div class="row">
			<div class="col-sm-6">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th colspan="5">Hosts Pending</th>
						</tr>
						<tr>
							<th colspan="2">Name</th>
							<th>SSN</th>
							<th>Completed</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="hostsComplete"> </tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th colspan="4">Boats Pending</th>
						</tr>
						<tr>
							<th>Host</th>
							<th>Boat</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="boatsComplete"></tbody>
				</table>
			</div>
		</div>

		<div class="col-sm-3">
			<table class="table table-bordered">
				<tr>
					<th colspan="2">Upcoming BoatDays</th>
				</tr>
				<tr>
					<td>Fishing</td>
					<td class="fishingNumber"></td>
				</tr>
				<tr>
					<td>Watersport</td>
					<td class="sportNumber"></td>
				</tr>
				<tr>
					<td>Leisure</td>
					<td class="leisureNumber"></td>
				</tr>
				<tr>
					<td>Sailing</td>
					<td class="sailingNumber"></td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table table-bordered">
				<tr>
					<th colspan="2">Statistics</th>
				</tr>
				<tr>
					<td>Number of guests</td>
					<td class="guestsNumber"></td>
				</tr>
				<tr>
					<td>Amount of seat request</td>
					<td class="seatRequestNumber"></td>
				</tr>
				<tr>
					<td>New help center number</td>
					<td class="newHelpCenter"></td>
				</tr>
				<tr>
					<td>New report number</td>
					<td class="newReport"></td>
				</tr>
			</table>
		</div>
	  	</div>
	</div>
</form>

