<tr data-id="<%= model.id %>">
	<td>
		<div class="profile-picture" style="background-image:url(<%= model.get('profile').get('profilePicture') ? model.get('profile').get('profilePicture').url() : '' %>)"></div>
	<td>
		<%= model.get('firstname') %>
		<%= model.get('lastname') %><br/>
		(<a href='#/host/<%= model.id %>'>Host</a>, <a href='#/profile/<%= model.get('profile').id %>' >Profile</a>)
	</td>
	<td>
		<%= model.get('city') %>,
		<%= model.get('state') %>
	</td>
	<td><%= new Date(model.createdAt).toLocaleDateString() %> </td>
	<td class="text-center">
		<a class='btn btn-default btn-contacted'>
			<strong><%= typeof model.get('contacted') !== typeof undefined ? self.dateParseToDisplayDate(model.get('contacted')) : 'Never' %></strong>
			<br/>
			Click to Update
		</a>
	</td>
	<td class="text-center">
		<a href="#/host-validation/<%= model.id %>" class='btn btn-success'>Validation</a>
	</td>
</tr>
