<div class="top-navigation"></div>

<form class="form-horizontal" >
	<div class="container"> 
		<h1>Dashboard</h1>
		
		<div class="row">
			<div class="col-sm-6">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th colspan="5">Hosts Pending</th>
						</tr>
						<tr>
							<th colspan="2">Name</th>
							<th>SSN</th>
							<th>Date of Birth</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="hostsComplete"> </tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th colspan="4">Boats Pending</th>
						</tr>
						<tr>
							<th>Host</th>
							<th>Boat</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="boatsComplete"></tbody>
				</table>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-sm-3">
				<table class="table table-bordered">
					<tr>
						<th colspan="2">Boats</th>
					</tr>
					<tr>
						<td>Pending</td>
						<td id="boatsCompleteStatus"></td>
					</tr>
					<tr>
						<td>Approved</td>
						<td id="boatsEditingStatus"></td>
					</tr>
					<tr>
						<td>Denied</td>
						<td id="boatsEditingStatus"></td>
					</tr>
					<tr>
						<td>Total</td>
						<td id="boatsNumber"></td>
					</tr>
				</table>
			</div>
			<div class="col-sm-3">
				<table class="table table-bordered">
					<tr>
						<th colspan="2">BoatDays</th>
					</tr>
					<tr>
						<td>Past</td>
						<td id="boatdaysPast"></td>
					</tr>
					<tr>
						<td>Upcoming next 7 days</td>
						<td id="boatdaysFuture"></td>
					</tr>
					<tr>
						<td>Upcoming total</td>
						<td id="boatdaysFuture"></td>
					</tr>
					<tr>
						<td>Total</td>
						<td id="boatdaysNumber"></td>
					</tr>
			  </table>		
			</div> -->
			<div class="col-sm-3">
				<table class="table table-bordered">
					<tr>
						<th colspan="2">Upcoming BoatDays</th>
					</tr>
					<tr>
						<td>Fishing</td>
						<td class="fishingNumber"></td>
					</tr>
					<tr>
						<td>Watersport</td>
						<td class="sportNumber"></td>
					</tr>
					<tr>
						<td>Leisure</td>
						<td class="leisureNumber"></td>
					</tr>
					<tr>
						<td>Sailing</td>
						<td class="sailingNumber"></td>
					</tr>
				</table>
			</div>
	  	</div>
	</div>
</form>

