<div class="top-navigation"></div>

<form class="form-horizontal" >
	<div class="container"> 
		<h1>Dashboard</h1>
		
		<div class="row">
			<div class="col-sm-4">
				<h5>Boats with complete status</h5>
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Host
							</th>
							<th>
								Host Status
							</th>
							<th>
								Validate boat
							</th>
						</tr>
					</thead>
					<tbody id="boatsComplete"> </tbody>
				</table>
			</div>
			<div class="col-sm-4">
			  <h5>Boats with editing status</h5>
			  <ul class="list-group" id="boats-status-editing"></ul>
			</div>
			<div class="col-sm-4">
			  <h5>Table with statistics</h5>  
			  <table class="table table-bordered">
				  <tr>
					<td>Total amount of boats</td>
					<td id="boatsNumber"></td>
				  </tr>
				  <tr>
					<td>Total amount of boats in editing status</td>
					<td id="boatsEditingStatus"></td>
				  </tr>
				  <tr>
					<td>Total amount of boats in complete status</td>
					<td id="boatsCompleteStatus"></td>
				  </tr>
				  <tr>
					<td>Total amount of boat days</td>
					<td id="boatdaysNumber"></td>
				  </tr>
				  <tr>
					<td>Total amount of boat days in the past</td>
					<td id="boatdaysPast"></td>
				  </tr>
				  <tr>
					<td>Total amount of boat days in the future</td>
					<td id="boatdaysFuture"></td>
				  </tr>
				  <tr>
					<td>Total Hosts</td>
					<td id="hostsNumber"></td>
				  </tr>
			  </table>		
			</div>
			<div class="col-sm-4">
				<h5>Number of upcoming boatdays with categories</h5>
				<table class="table table-bordered">
					<tr>
						<td>Fishing</td>
						<td id="fishingNumber"></td>
					</tr>
					<tr>
						<td>Watersport</td>
						<td id="sportNumber"></td>
					</tr>
					<tr>
						<td>Leisure</td>
						<td id="leisureNumber"></td>
					</tr>
					<tr>
						<td>Sailing</td>
						<td id="sailingNumber"></td>
					</tr>
				</table>
			</div>
			<div class="col-sm-4">
				<h5>Hosts with complete status</h5>
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>
								Firstname
							</th>
							<th>
								Lastname
							</th>
							<th>
								SSN
							</th>
							<th>
								Date of Birth
							</th>
							<th>
								Validate
							</th>
							<th>
								Profile
							</th>
						</tr>
					</thead>
					<tbody id="hostsComplete"> </tbody>
				</table>
			</div>
	  	</div>
	</div>
</form>

