<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Guests lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<!-- <input type="text" class="searchFilter form-control" name="searchobjectId"> -->
				</th>
				<th>
					Name
					<!-- <input type="text" class="searchFilter form-control" name="searchName"> -->
				</th>
				<th>
					Ratings
					<!-- <input type="text" class="searchFilter form-control" name="searchRatings"> -->
				</th>
				<th>
					Status
					<!-- <select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
						<option value="approved">Approved</option>
						<option value="denied">Denied</option>
					</select> -->
				</th>
				<th>Boatdays</th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>