<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Profiles of guests</h1>
	<div class="pagination"></div>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th></th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Profile" name="searchName">
				</th>
				<th>
					Ratings
				</th>
				<th>
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Status</option>
						<option value="creation">Creation</option> 
						<option value="editing">Editing</option> 
						<option value="complete">Complete</option>
					</select>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
	<div class="pagination"></div>
</div>