<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Help center</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="Id" name="searchobjectId">
				</th>
				<th>
					Feedback
				</th>
				<th>
					Created at
				</th>
				<th>
					Category
					<input type="text" class="searchFilter form-control" name="searchCategory">
				</th>
				<th>
					Name
				</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>