<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Help center</h1>
	<div class="pagination"></div>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th><input type="text" class="searchFilter form-control" placeholder="Feedback" name="searchFeedback"></th>
				<th>Date</th>
				<th>
					<input placeholder="Category" type="text" class="searchFilter form-control" name="searchCategory">
				</th>
				<th>Profile</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
	<div class="pagination"></div>
</div>