<div class="container">
	<h1>Hosts lists</h1>
	<a href="#/dashboard" class="btn btn-primary">Dashboard</a>
	<div class="col-sm-12">
		<table class="table table-condensed" style="width:100%">
  			<thead>
				<tr>
					<th>ObjectId</th>
					<th>SSN</th>
					<th>Birth date</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Phone</th>
					<th>Status</th>
				   	<th>Host type</th>  
				   	<th>Update</th>  
				</tr>
				<tr>
					<td><input type="text" class="searchFilter" name="searchobjectId" id="searchobjectId"></td>
					<td><input type="text" class="searchFilter" name="searchSSN" id="searchSSN"></td>
					<td></td>
					<td><input type="text" class="searchFilter" name="searchFirstName" id="searchFirstName"></td>
					<td><input type="text" class="searchFilter" name="searchLastName" id="searchLastName"></td>
					<td><input type="text" class="searchFilter" name="searchPhone" id="searchPhone"></td>
					<td><input type="text" class="searchFilter" name="searchStatus" id="searchStatus"></td>
					<td><input type="text" class="searchFilter" name="searchType" id="searchType"></td>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
	</div>
</div>