<tr>
	<td>23 Years Old:</td>
	<td><%= bgCheckQ1 %></td>
</tr>
<tr>
	<td>No DUI, BUI, drug related driving violations (4 Years):</td>
	<td><%= bgCheckQ2 %></td>
</tr>
<tr>
	<td>No extreme infraction (hit/run, felonies involving vehicle):</td>
	<td><%= bgCheckQ3 %></td>
</tr>
<tr>
	<td>No gun related violations (7 years):</td>
	<td><%= bgCheckQ4 %></td>
</tr>
<tr>
	<td>No resisting/evading arrest (7 years):</td>
	<td><%= bgCheckQ5 %></td>
</tr>
<tr>
	<td>No Driving on Susp. License, Reckless driving (3 years):</td>
	<td><%= bgCheckQ6 %></td>
</tr>
<tr>
	<td>No Sexual Offenses (7 years):</td>
	<td><%= bgCheckQ7 %></td>
</tr>
<tr>
	<td>No Violent Crimes (7 years):</td>
	<td><%= bgCheckQ8 %></td>
</tr>
<tr>
	<td>No Felonies (7 years):</td>
	<td><%= bgCheckQ9 %></td>
</tr>