<div class="top-nav"></div>

<div class="container-fluid">
	<h1>Host lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId">
				</th>
				<th>
					SSN
					<input type="text" class="searchFilter form-control" name="searchSSN">
				</th>
				<th>
					Birth date
				</th>
				<th>
					First name
					<input type="text" class="searchFilter form-control" name="searchFirstName">
				</th>
				<th>
					Last name
					<input type="text" class="searchFilter form-control" name="searchLastName">
				</th>
				<th>
					Phone
					<input type="text" class="searchFilter form-control" name="searchPhone">
				</th>
				<th>
					Status
					<!-- <input type="text" class="searchFilter form-control" name="searchStatus"> -->
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="editing">Editing</option>
						<option value="complete">Complete</option>
						<option value="accepted">Accepted</option>
						<option value="denied">Denied</option>
					</select>
				</th>
				<th>
					Host type
					<input type="text" class="searchFilter form-control" name="searchType">
				</th>
				<th>
					Update
				</th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>