<div class="top-navigation"></div>

<form class="form-horizontal"> 
	<div class="container"> 
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Host, <%= objectId %></h3>
				</div>

				<div class="panel-body">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="firstname" class="col-sm-3 control-label">Host</label>
							<div class="col-sm-6">
								<%= firstname %> <%= lastname %>
							</div>
						</div>
						<div class="form-group">
							<label for="firstname" class="col-sm-3 control-label">Birthdate</label>
							<div class="col-sm-6">
								<%= new Date(birthdate.iso).toLocaleDateString() %>
							</div>
						</div>
						<div class="form-group">
							<label for="firstname" class="col-sm-3 control-label">Social Security Number</label>
							<div class="col-sm-6">
								<%= SSN %>
							</div>
						</div>
						
						<div class="form-group">
							<label for="bgCheck" class="col-sm-3 control-label">Bg Check</label>
							<div class="col-sm-6">
								<input value="" type="file" class="upload" id="bgCheck" name="bgCheck" delegate-error-to-button>
								<button type="button" class="btn btn-default btn-block btn-lg btn-upload" for="bgCheck">Bg Check</button>
							</div>
							<% if( bgCheck ) { %>
								<div class="col-sm-6 col-sm-offset-3">
									<a href="<%= bgCheck.url %>" target="_blank">BgScreening</a>
								</div>
								<div class="col-sm-4 col-sm-offset-1 uploadedTime">
									<%= typeof bgCheckDate !== typeof undefined ? bgCheckDate.iso : '' %>
								</div>
							<% } %>

						</div>
						<div class="form-group">
							<label for="status" class="col-sm-3 control-label">Status</label>
							<div class="col-sm-6">
								<select class="input-small form-control" id="status" name="status">
									<option value="creation" <%= status && status == "creation" ? 'selected' : '' %>>Creation</option> 
									<option value="editing" <%= status && status == "editing" ? 'selected' : '' %>>Editing</option>
									<option value="complete" <%= status && status == "complete" ? 'selected' : '' %>>Pending</option>
									<option value="approved" <%= status && status == "approved" ? 'selected' : '' %>>Approved</option>
									<option value="denied" <%= status && status == "denied" ? 'selected' : '' %>>Denied</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="validationText" class="col-sm-3 control-label">Decision</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="validationText" name="validationText" rows="3"><%= typeof validationText !== typeof undefined ? validationText : '' %></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="validationTextInternal" class="col-sm-3 control-label">Internal</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="validationTextInternal" name="validationTextInternal" rows="5"><%= typeof validationTextInternal !== typeof undefined ? validationTextInternal : '' %></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="actions" class="col-sm-3 control-label">Other actions</label>
							<div class="col-sm-6">
								<a href="#/profile/<%= profile.objectId %>" class="btn btn-default">See Profile</a>
								<button type="button" class="btn btn-warning btn-send-host-noti">Notify User</button>
							</div>
						</div>

					</div>
				</div>

				<div class="panel-heading">
					<h3 class="panel-title text-center">Host Certifications</h3>
				</div>

				<div class="panel-body">
					<table class="table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>Certification names</th>
								<th>Certifications</th>
								<th>Status</th>
								<th>Decision</th>
								<th> </th>
							</tr>
						</thead>
						<tbody> 
							<tr>
								<td>Boater Safety Course</td>
								<td>
									<% if( typeof certBSC !== typeof undefined && certBSC) { %>
										<a href="<%= certBSC.url %>" target="_blank">certification file</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusBSC">
										<option value="pending" <%= certStatusBSC && certStatusBSC == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved" <%= certStatusBSC && certStatusBSC == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied" <%= certStatusBSC && certStatusBSC == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseBSC" id="certResponseBSC" class="form-control" value="<%= certResponseBSC %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="BSC" data-cert-name="Boater Safety Course">Notify User</button>
								</td>
							</tr>

							<tr>
								<td>Charterboat Captain</td>
								<td>
									<% if( typeof certCCL !== typeof undefined && certCCL) { %>
										<a href="<%= certCCL.url %>" target="_blank">Charterboat Captain</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusCCL">
										<option value="pending" <%= certStatusCCL && certStatusCCL == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved" <%= certStatusCCL && certStatusCCL == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied" <%= certStatusCCL && certStatusCCL == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseCCL" id="certResponseCCL" class="form-control" value="<%= certResponseCCL %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="CCL" data-cert-name="Charterboat Captain">Notify User</button>
								</td>
								
							</tr>
							<tr>
								<td>Master Captain's License</td>
								<td>
									<% if( typeof certMCL !== typeof undefined && certMCL ) { %>
										<a href="<%= certMCL.url %>" target="_blank">Master Captain's License</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusMCL">
										<option value="pending" <%= certStatusMCL && certStatusMCL == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved" <%= certStatusMCL && certStatusMCL == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied" <%= certStatusMCL && certStatusMCL == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseMCL" id="certResponseMCL" class="form-control" value="<%= certResponseMCL %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="MCL" data-cert-name="Master Captain's License">Notify User</button>
								</td>
								
							</tr>
							<tr>
								<td>Fishing License</td>
								<td>
									<% if( typeof certFL !== typeof undefined && certFL ) { %>
										<a href="<%= certFL.url %>" target="_blank">Fishing License</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusFL">
										<option value="pending"  <%= certStatusFL && certStatusFL == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved"  <%= certStatusFL && certStatusFL == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied"  <%= certStatusFL && certStatusFL == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseFL" id="certResponseFL" class="form-control" value="<%= certResponseFL %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="FL" data-cert-name="Fishing License">Notify User</button>
								</td>
								
							</tr>
							<tr>
								<td>Sailing Certification</td>
								<td>
									<% if( typeof certSL !== typeof undefined && certSL ) { %>
										<a href="<%= certSL.url %>" target="_blank">Sailing Certification</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusSL">
										<option value="pending" <%= certStatusSL && certStatusSL == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved" <%= certStatusSL && certStatusSL == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied" <%= certStatusSL && certStatusSL == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseSL" id="certResponseSL" class="form-control" value="<%= certResponseSL %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="SL" data-cert-name="Sailing Certification">Notify User</button>
								</td>
								
							</tr>
							<tr>
								<td>First Aid Certification</td>
								<td>
									<% if( typeof certFAC !== typeof undefined && certFAC) { %>
										<a href="<%= certFAC.url %>" target="_blank">First Aid Certification</a>
									<% } else { %>
										no file
									<% } %>
								</td>
								<td>
									<select class="form-control" name="certStatusFAC">
										<option value="pending" <%= certStatusFAC && certStatusFAC == "pending" ? 'selected' : '' %>>Pending</option>
										<option value="approved" <%= certStatusFAC && certStatusFAC == "approved" ? 'selected' : '' %>>Approved</option>
										<option value="denied" <%= certStatusFAC && certStatusFAC == "denied" ? 'selected' : '' %>>Deny</option>
									</select>
								</td>
								<td>
									<input type="text" name="certResponseFAC" id="certResponseFAC" class="form-control" value="<%= certResponseFAC %>" />
								</td>
								<td>
									<button type="button" class="btn btn-warning btn-send-cert-noti" data-cert="FAC" data-cert-name="First Aid Certification">Notify User</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="panel-footer text-center">
					<button type="submit" class="btn btn-default">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>