<tr>
	<td><%= id %></td>
	<td>
		<div class="profile-picture" style="background-image:url(<%= url %>)"></div>
	</td>
	<td><%= name %></td>
	<td><%= status %></td>
	<td>
		<% if( typeof rating !== typeof undefined && rating ) { %>
			<%= rating %>
		<% } %>
	</td>
	<td>
		<% if( typeof email !== typeof undefined && email ) { %>
			<%= email %>
		<% } %>
	</td>
	<td> 
		<% if(host) { %><a class="btn btn-default" href="#/host/<%= host.id %>">Host</a><% } %>
		
		<a class="btn btn-default" href="#/profile/<%= id %>">Edit</a>
	</td>
</tr>