<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Host lists</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId">
				</th>
				<th>
					First name
					<input type="text" class="searchFilter form-control" name="searchFirstName">
				</th>
				<th>
					Last name
					<input type="text" class="searchFilter form-control" name="searchLastName">
				</th>
				<th>
					Phone
					<input type="text" class="searchFilter form-control" name="searchPhone">
				</th>
				<th>
					Status
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
						<option value="approved">Approved</option>
						<option value="denied">Denied</option>
					</select>
				</th>
				<th>
					Host type
					<select class="searchFilter form-control" name="searchType">
						<option value ="" selected>Select one</option>
						<option value="personal">personal</option> 
						<option value="business">business</option>
						<option value="captain">captain</option>
					</select>
				</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>