<tr data-id="<%= id %>">
	<td>
		<div class="profile-picture" style="background-image:url(<%= url %>)"></div>
	</td>
	<td colspan="2">
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= name %>
	</td>
	<td><%= status %></td>
	<td>
		<% if( typeof rating !== typeof undefined && rating ) { %>
			<%= rating %>
		<% } %>
	</td>
	<td> 
		<% if(host) { %><a class="btn btn-default" href="#/host/<%= host.id %>">Host</a><% } %>
		<a class="btn btn-default" href="mailto: <% if( typeof email !== typeof undefined && email ) { %>
			<%= email %>
		<% } %> ">
			<span class="glyphicon glyphicon-envelope"></span>
		</a>
		
		<a class="btn btn-default" href="#/profile/<%= id %>">Edit</a>
	</td>
</tr>