<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">BoatDay CMS</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#/dashboard">Dashboard</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/create-boatday">BoatDay</a></li>
					<li><a href="#/create-coupon">Coupon</a></li>
					<li><a href="#/send-notification">Notification</a></li>
				</ul>
			</li>
			<li class="dropdown" >
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feedback<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/help-center">Help Center</a></li>
					<li><a href="#/report">Reports</a></li>
				</ul>
			</li>
			<li><a href="#/hosts">Hosts</a></li>
			<li><a href="#/boats">Boats</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BoatDays<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/upcoming-boatdays">Upcoming BoatDays</a></li>
					<li><a href="#/past-boatdays">Past BoatDays</a></li>
				</ul>
			</li>
			<li><a href="#/seat-requests">Seat Requests</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profiles <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/guests">Guest profiles</a></li>
					<li><a href="#/profiles">Host Profiles</a></li>
				</ul>
			</li>
			<li><a href="#/coupons">Coupons</a></li>
			<li><a href="#/sign-out">Log out</a></li>
		</ul>
	</div>
</nav>