<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">BoatDay CMS</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a href="#/hosts">Hosts</a></li>
			<li><a href="#/profiles">Profiles</a></li>
			<li><a href="#/boats">Boats</a></li>
			<li><a href="#/boatdays">BoatDays</a></li>
			<li><a href="#/host-center">Host Center</a></li>
			<li><a href="#/send-notification">Send Notification</a></li>
			<li><a href="#/sign-out">Log out</a></li>
		</ul>
	</div>
</nav>