<tr data-id="<%= id %>">
	<td><%= id %></td>
	<td><%= category %></td>
	<td><%= name %></td>
	<td><%= date %> at <%= departureTime %></td>
	<td>$<%= price %></td>
	<td><%= status %></td>
	<td>
		<a href='#/host/<%= hostId %>'class='btn btn-default'>Host</a>
		<a href='#/boat/<%= boatId %>'class='btn btn-default'>Boat</a>
		<a href='#/profile/<%= captainId %>'class='btn btn-default'>Captain</a>
		<a class="btn btn-default" href="#/boatday/<%= id %>">Edit</a>
		<a class="btn btn-primary btn-duplicate">Duplicate</a>
	</td>
	</td>
</tr>