<tr data-id="<%= model.id %>">
	<td>
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= model.get('action') %>
	</td>
	<td><%= model.get('message') %></td>
	<td><%= model.get('fromTeam') %></td>
	<td><%= model.get('sendEmail') %></td>
	<td>
		<% if( model.get('boatday') ) { %>
			<a href="#/boatday/<%= model.get('boatday').id %>">
				<%= model.get('boatday').get('name') %>
			</a>
		<% } %>
	<td>
		<% if( model.get('from') ) { %>
			<a href="#/profile/<%= model.get('from').id %>">
				<%= model.get('from').get('displayName') %>
			</a>
		<% } %>
	</td>
	<td>
		<% if( model.get('boat') ) { %>
			<a href="#/boat/<%= model.get('boat').id %>">
				<%= model.get('boat').get('name') %>
			</a>
		<% } %>
	</td>
	<td>
		<% if( model.get('request') ) { %>
			<a href="#/seat-request/<%=  model.get('request').id %>">
				Seat request
			</a>
		<% } %>
	</td>
</tr>