<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Profile list</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId">
				</th>
				<th colspan="2">
					Display name
					<input type="text" class="searchFilter form-control" name="searchName">
				</th>
				<th>
					Status
					<!-- <input type="text" class="searchFilter form-control" name="searchStatus"> -->
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
					</select>
				</th>
				<th>Rating</th>
				<th>Type</th>
				<th>Email</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>