<div class="top-navigation"></div>

<form class="form-horizontal"> 
	<div class="container"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Update profile...</h3>
			</div>

			<div class="panel-body">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="profileId" class="col-sm-3 control-label">Profile id</label>
						<div class="col-sm-6">
							<%= objectId %>
						</div>
					</div>
					<div class="form-group">
						<label for="createdAt" class="col-sm-3 control-label">Created at</label>
						<div class="col-sm-6">
							<%= createdAt %>
						</div>
					</div>
					<div class="form-group">
						<label for="updatedAt" class="col-sm-3 control-label">Updated at</label>
						<div class="col-sm-6">
							<%= updatedAt %>
						</div>
					</div>
					<div class="form-group">
						<label for="about" class="col-sm-3 control-label">About</label>
						<div class="col-sm-6">
							<textarea rows="5" name="about" id="about" class="form-control"><%= about %></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="displayName" class="col-sm-3 control-label">Profile name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="displayName" name="displayName" value= "<%= displayName %>" > 
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label">Status</label>
						<div class="col-sm-6">
							<select class="input-small form-control" id="status" name="status">
								<option value="creation" <%= status && status == "creation" ? 'selected' : '' %>>Creation</option> 
								<option value="editing" <%= status && status == "editing" ? 'selected' : '' %>>Editing</option>
								<option value="complete" <%= status && status == "complete" ? 'selected' : '' %>>Complete</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="profilePic" class="col-sm-3 control-label">Profile picture</label>
						<div class="col-sm-6">
							<img class="profile-picture rectangle" src="<%= typeof profilePicture.url !== typeof undefined ? profilePicture.url : '' %>" />
						</div> 
					</div>
				</div>
			</div> 

			<div class="panel-heading">
				<h3 class="panel-title text-center">Seat Requests</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Contibution</th>
							<th>GuestRate</th>
							<th>HostRate</th>
							<th>reviewGuest</th>
							<th>Seats</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="seatRequests"></tbody>
				</table>
			</div>

			<div class="panel-heading">
				<h3 class="panel-title text-center">Reviews</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>From profile</th>
							<th>To profile</th>
							<th>Average rate</th>
							<th>review</th>
						</tr>
					</thead>
					<tbody id="reviews"></tbody>
				</table>
			</div>

			<div class="panel-footer text-center">
					<button type="submit" class="btn btn-default">Update</button>
			</div>
		</div>
	</div>
</form>