<tr data-id="<%= id %>">
	<td colspan="2" >
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= message %>
	</td>
	<td><%= createdAt %></td>
	<td><a href="#/profile/<%= sender.id %>"><%= sender.get('displayName') %></a></td>
	<td><a class="btn btn-primary btn-read" data-read="<%= read %>">

		<% if( read == true ) { %>
			unread 
		<% } else { %>
			read 
		<% } %>
	</a></td>
	<td><% if(boatday) { %><a href="#/boatday/<%= boatday.id %>"><%= boatday.get('name') %></a><% } %>
	<% if(profile) { %><a href="#/profile/<%= profile.id %>"><%= profile.get('displayName') %></a><% } %></td>
</tr>