<tr data-id="<%= model.id %>">
	<td colspan="2" >
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= model.get('message') %>
	</td>
	<td><%= model.createdAt.toUTCString().substring(0, 26) %></td>
	<td>
		<a href="#/profile/<%= model.get('fromProfile').id %>"><%= model.get('fromProfile').get('displayName') %>
		</a>
	</td>
	<td><a class="btn btn-primary btn-read" data-read="<%= model.get('read') %>">

			<% if( model.get('read') == true ) { %>
				unread 
			<% } else { %>
				read 
			<% } %>
		</a>
	</td>
	<td>
		<% if(model.get('boatday')) { %>
			<a href="#/boatday/<%= model.get('boatday').id %>"><%= model.get('boatday').get('name') %>
			</a>
		<% } %>

		<% if(model.get('profile')) { %>
			<a href="#/profile/<%= model.get('profile').id %>"><%= model.get('profile').get('displayName') %>
			</a>
		<% } %>
	</td>
</tr>