<tr data-id="<%= id %>">
	<td colspan="2">
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<a href="#/profile/<%= seat.get('profile').id %>"><%= seat.get('profile').get('displayName') %></a>
	</td>
	<td><input type="text" class="form-control" name="seats" value="<%= seat.get('seats') %>" /></td>
	<td>
		<select class="input-small form-control" name="status">
			<option value="approved" <%= seat.get('status') && seat.get('status') == "approved" ? 'selected' : '' %>>Approved</option> 
			<option value="pending" <%= seat.get('status') && seat.get('status') == "pending" ? 'selected' : '' %>>Pending</option>
			<option value="denied" <%= seat.get('status') && seat.get('status') == "denied" ? 'selected' : '' %>>Denied</option>
			<option value="cancelled-guest" <%= seat.get('status') && seat.get('status') == "cancelled-guest" ? 'selected' : '' %>>Cancelled-guest</option>
			<option value="cancelled-host" <%= seat.get('status') && seat.get('status') == "cancelled-host" ? 'selected' : '' %>>Cancelled-host</option>
		</select>
	</td>
	<td><input type="text" class="form-control" name="contribution" value="<%= seat.get('contribution') %>" /></td>
	<td><a href="#/boatday/<%= seat.get('boatday').id %>"><%= seat.get('boatday').get('name') %></a></td>
	<td>
		<a class="btn btn-primary" href="#/seat-request/<%= id %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
		<button type="button" class="btn btn-default update-requests">Update</button>
	</td>
</tr>