<div class="top-navigation"></div>
<form class="form-horizontal"> 
	<div class="container"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Seat request</h3>
			</div>

			<div class="panel-body">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="objectId" class="col-sm-3 control-label">ID</label>
						<div class="col-sm-6">
							<%= objectId %>
						</div>
					</div>
					<div class="form-group">
						<label for="AddToBoatDay" class="col-sm-3 control-label">Add to boatDay</label>
						<div class="col-sm-6">
							<%= addToBoatDay %>
						</div>
					</div>
					<div class="form-group">
						<label for="BDdiscount" class="col-sm-3 control-label">BD discount</label>
						<div class="col-sm-6">
							<%= bdDiscount %>
						</div>
					</div>
					<div class="form-group">
						<label for="BDdiscountLabel" class="col-sm-3 control-label">BD discount label</label>
						<div class="col-sm-6">
						
							<%= typeof bdDiscountLabel !== typeof undefined ? bdDiscountLabel : '' %>
						</div>
					</div>
					<div class="form-group">
						<label for="BDdiscountPerSeat" class="col-sm-3 control-label">BD discount per seat</label>
						<div class="col-sm-6">
							<%= bdDiscountPerSeat %>
						</div> 
					</div>
					<div class="form-group">
						<label for="BDdiscountPerSeatLabel" class="col-sm-3 control-label">BD discount per seat label</label>
						<div class="col-sm-6">
							<%= bdDiscountPerSeatLabel %>
						</div>
					</div>
					<div class="form-group">
						<label for="cancelled" class="col-sm-3 control-label">Cancelled</label>
						<div class="col-sm-6">
							<%= cancelled %>
						</div>
					</div>
					<div class="form-group">
						<label for="contribution" class="col-sm-3 control-label">Contribution</label>
						<div class="col-sm-6">
							<%= typeof contribution !== typeof undefined ? contribution : '' %>
						</div>
					</div>
					<div class="form-group">
						<label for="contributionPaid" class="col-sm-3 control-label">Contribution paid</label>
						<div class="col-sm-6">
							<%= typeof contributionPaid !== typeof undefined ? contributionPaid : '' %>
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="guestLastRead" class="col-sm-3 control-label">Guest last read</label>
						<div class="col-sm-6">
							<%= typeof guestLastRead !== typeof undefined ? guestLastRead.iso : '' %>
						</div>
					</div> -->
					<div class="form-group">
						<label for="ratingGuest" class="col-sm-3 control-label">Rating guest</label>
						<div class="col-sm-6">
							<%= typeof ratingGuest !== typeof undefined ? ratingGuest : '' %>
						</div>
					</div>
					<div class="form-group">
						<label for="ratingHost" class="col-sm-3 control-label">Rating host</label>
						<div class="col-sm-6">
							<%= typeof ratingHost !== typeof undefined ? ratingHost : '' %>
						</div>
					</div>
					<div class="form-group">
						<label for="reviewGuest" class="col-sm-3 control-label">Review guest</label>
						<div class="col-sm-6">
							<%= typeof reviewGuest !== typeof undefined ? reviewGuest : '' %>
						</div>
					</div>
					<div class="form-group">
						<label for="seats" class="col-sm-3 control-label">Seats</label>
						<div class="col-sm-6">
							<%= seats %>
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label">Status</label>
						<div class="col-sm-6">
							<%= status %>
						</div>
					</div>
					<div class="form-group">
						<label for="otherActions" class="col-sm-3 control-label">Other actions</label>
						<div class="col-sm-6">
							<a class="btn btn-default" href="#/boatday/<%= boatday.objectId %>">See BoatDay</a>
							<a class="btn btn-default" href="#/profile/<%= profile.objectId %>">See Profile</a>
							<% if( typeof promoCode !== typeof undefined && promoCode ) { %>
								<a class="btn btn-default" href="#/coupon/<%= promoCode.objectId %>">See Coupon</a>
							<% } %>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</form>