<tr data-id="<%= model.id %>">
	<td>
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= model.get('profile').get('displayName') %>
	</td>
	<td>
		<a href="#/boatday/<%= model.get('boatday').id %>">
			<%= model.get('boatday').get('name') %>
		</a>
	</td>
	<td><%= model.get('ratingHost') %></td>
	<td><%= model.get('ratingGuest') %></td>
	<td>
		<% if( model.get('contribution') ) { %> 
			$<%= model.get('contribution') %> 
		<% } %>
	</td> 
	<td>
		<a href="#/profile/<%= model.get('profile').id %>">
			<%= model.get('profile').get('displayName') %>
		</a>
	</td>
	<td>
		<% if( model.get('promoCode')) { %> 
			<a href="#/coupon/<%= model.get('promoCode').id %>">
				<%= model.get('promoCode').get('code') %>
			</a>
		<% } %>
	</td>
</tr>