<tr data-id="<%= id %>">
	<td colspan="2">
		<span class="glyphicon glyphicon glyphicon-star-empty idInfo"></span>
		<%= profileName %>
	</td>
	<td><a href="#/boatday/<%= boatday.id %>"><%= boatdayName %></a></td>
	<td><%= hostRating %></td>
	<td><%= guestRating %></td>
	<td><% if(contribution) { %> $<%= contribution %> <% } %></td> 
	<td><a href="#/profile/<%= profile.id %>"><%= profile.get('displayName') %></a></td>
	<td>
		<% if(coupon) { %> <a href="#/coupon/<%= coupon.id %>"><%= coupon.get('code') %></a><% } %>
	</td>
</tr>