<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Seatrequests </h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="id" name="searchobjectId">
				</th>
				<th>
					Guests 
				</th>
				<th>
					BoatDays
				</th>
				<th>
					Host rating
				</th>	
				<th>
					Guests rating
				</th>
				<th>
					Contibution
				</th>
				<th>Profile</th>
				<th>Coupon</th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>