<tr data-id="<%= id %>">
	<td><%= id %></td>
	<td>
		<select class="input-small form-control" name="status">
			<option value="approved" <%= seat.get('status') && seat.get('status') == "approved" ? 'selected' : '' %>>Approved</option> 
			<option value="pending" <%= seat.get('status') && seat.get('status') == "pending" ? 'selected' : '' %>>Pending</option>
			<option value="denied" <%= seat.get('status') && seat.get('status') == "denied" ? 'selected' : '' %>>Denied</option>
			<option value="cancelled-guest" <%= seat.get('status') && seat.get('status') == "cancelled-guest" ? 'selected' : '' %>>Cancelled-guest</option>
			<option value="cancelled-host" <%= seat.get('status') && seat.get('status') == "cancelled-host" ? 'selected' : '' %>>Cancelled-host</option>
		</select>
	</td>
	<td><input type="text" class="form-control" name="contribution" value="<%= seat.get('contribution') %>" /></td>
	<td><input type="text" class="form-control" name="ratingGuest" value="<%= seat.get('ratingGuest') %>" /></td>
	<td><input type="text" class="form-control" name="ratingHost" value="<%= seat.get('ratingHost') %>" /></td>
	<td><input type="text" class="form-control" name="reviewGuest" value="<%= seat.get('reviewGuest') %>" /></td>
	<td><input type="text" class="form-control" name="seats" value="<%= seat.get('seats') %>" /></td>
	<td>
		<button type="button" class="btn btn-default update-requests">Update</button>
		<a href="#/boatday/<%= seat.get('boatday').id %>" class="btn btn-default">BoatDay</a>
		<a href="#/profile/<%= seat.get('profile').id %>" class="btn btn-default">Profile</a> 
	</td>
</tr>