<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Seat Requests</h1>
	<div class="pagination"></div>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<input type="text" class="searchFilter form-control" placeholder="ID" name="searchobjectId">
				</th>
				<th>BoatDay</th>
				<th>Host Rating</th>	
				<th>Guests Rating</th>
				<th>Contibution</th>
				<th>Coupon</th>
				<th></th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
	<div class="pagination"></div>
</div>