<div class="top-nav"></div>

<form class="form-horizontal"> 
	<div class="container"> 
		<div class="">
			<div class="panel panel-primary">
				<div class="panel-heading area-business">
					<h3 class="panel-title text-center">Send notification</h3>
				</div>

				<div class="panel-body">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="profile" class="col-sm-2 control-label">Select Profile</label>
							<div class="col-sm-8 profiles">
								<em>Loading...</em>
							</div>
						</div>
						<div class="form-group">
							<label for="message" class="col-sm-2 control-label">Message</label>
							<div class="col-sm-8">
								<textarea rows="5" name="message" id="message" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div> 

				<div class="panel-footer text-center">
						<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
</form>