<div class="top-navigation"></div>

<div class="container-fluid">
	<h1>Users list</h1>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th>
					ID
					<input type="text" class="searchFilter form-control" name="searchobjectId">
				</th>
				<th>
					Username
					<input type="text" class="searchFilter form-control" name="searchUsername">
				</th>
				<th>
					Email
					<input type="text" class="searchFilter form-control" name="searchEmail">
				</th>
				<th>
					TOS
					<input type="text" class="searchFilter form-control" name="searchTos">
				</th>
				<th>
					Type
					<input type="text" class="searchFilter form-control" name="searchType">
				</th>
				<th>
					Status
					<!-- <input type="text" class="searchFilter form-control" name="searchStatus"> -->
					<select class="searchFilter form-control" name="searchStatus">
						<option value ="" selected>Select one</option>
						<option value="creation">Creation</option> 
						<option value="complete">Complete</option>
					</select>
				</th>
				<th> </th>
			</tr>
		</thead>
		<tbody> </tbody>
	</table>
</div>