body { 
	background: #eff3f4;
}

img.app-loader {
	position : absolute;
	display: block;
	top : 50%;
	left : 50%;
	margin-left : -8px;
	margin-top : -8px;
}

img.loader {
	margin : 10px;
}
body.theme-dashboard .dashboard-table td:first-child .obj-thumb {
  width: 90px;
  height: 60px;
  background: center center no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
}
body.theme-dashboard .dashboard-table td:first-child.profile .obj-thumb {
  width: 60px;
  border-radius: 60px;
}